hr {
    border: .05rem solid #212529;
    opacity: .3;
}

li {
    list-style-type: square;
}

#other-services-list li {
    margin-bottom: .8rem;
    font-size: .7rem;
}

#other-services-list li span {
    font-size: 1rem;
    margin-left: 1rem;
}

.cv-list {
    padding-left: 1.3rem;
}

.cv-list li {
    margin-left: .1rem;
    font-size: .6rem;
    margin-top:.5rem;
}

.cv-list li span {
    font-size: .8rem;
    margin-left: .4rem;
}

