<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <img class="border circle p-2 bg-white" src="../../assets/matt-headshot-bw.jpg" />
    <h1 class="name">Matt Roberts</h1>
    <p class="lead">Full-stack developer, electronics enthusiest, and lover of all things metal.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9" id="about">
      <span class="fade-text">Who am I?</span>
      <div class="mt-2 about-text">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
        going through the cites of the word in classical literature, discovered the undoubtable source.  <br><br>
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original
        form, accompanied by English versions from the 1914 translation by H. Rackham.
      </div>
    </div>
    <div class="col-md-3" id="contact">
      <span class="fade-text ">Contact</span>
      <div class="mt-2">
        <ul class="contact-list ml-2">
          <li>
            <a href="https://www.linkedin.com/in/matt-roberts-dev/" target="_blank" class="color-dark">
              <fa-icon [icon]="faLinkedin" class="fa-2x contact-item-icon"></fa-icon>
              <span class="contact-item-text">LinkedIn</span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/sweetcrapmatt" target="_blank" class="color-dark contact-item">
              <fa-icon [icon]="faFacebookSquare" class="fa-2x contact-item-icon"></fa-icon>
              <span class="contact-item-text">Facebook</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/cheezballs" target="_blank" class="color-dark contact-item">
              <fa-icon [icon]="faGithub" class="fa-2x contact-item-icon"></fa-icon>
              <span class="contact-item-text">GitHub</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
