#contact a:hover {
  text-decoration: none;
  color: #8f9091;
}

.jumbotron {
  background-color: #ebecee;
  padding: 2rem 1rem;
  border-bottom: solid #8f9091 1px;
}

.jumbotron .name {
  font-weight: 700;
}

.container {
  max-width: 45rem;
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: #8f9091 !important;
}

.circle {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.fade-text {
  color: #555;
  font-weight: 700;
  font-size: 1.75rem;
}

.valign-middle {
  vertical-align: middle;
}

.color-dark {
  color: #22262a;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-item-icon {
  margin-right: 1rem;
  vertical-align: middle;
  line-height: 20px;
}

.contact-item-text {
  vertical-align: middle;
}

.about-text {
  font-size: 1.1rem;
}
