<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <img class="border circle p-2 bg-white" src="../../assets/matt-headshot-bw.jpg" />
    <h1 class="name">Matt Roberts</h1>
    <p class="lead">Full-stack developer, electronics enthusiest, and lover of all things metal.</p>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-md-9" id="about">
      <span class="fade-text">Who am I?</span>
      <div class="mt-2 about-text text-justify">
        My name is Matt Roberts and I'm a full-stack developer. I've been fascinated with computer hardware and
        programming since I was old enough to know what a computer was. I began my journey tinkering with my uncle's
        8086 IBM PC over the summers while staying with my Grandma. Eventually my desire to control the hardware more
        than I already could took over and I began my programming adventure in C. This continued through college where I
        picked up C++ and then a few years later got a job doing C# web development. Since then I've developed
        professionally in Java, JS, TS, Node, and various SQL dialects.
        <br />
        <br />
        In addition to programming I enjoy most everything related to technology and gadgets. Our house is outfitted a
        small army of Raspberry Pis for use as wiki servers, home theater, and emulation in addition to various other
        proprietary devices for home automation and entertainment. Outside of my digital life I enjoy being a weekend
        carpenter and woodworker. No matter what the project is I'm almost always pairing it with music. Some of my
        favorite genres include death and black metal, synthwave, and 80s pop.
      </div>
    </div>
    <div class="col-md-3" id="contact">
      <span class="fade-text ">Contact</span>
      <div class="mt-2">
        <ul class="contact-list ml-2">
          <li>
            <a href="https://www.linkedin.com/in/matt-roberts-dev/" target="_blank" class="color-dark">
              <fa-icon [icon]="faLinkedin" class="fa-2x contact-item-icon"></fa-icon>
              <span class="contact-item-text">LinkedIn</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/cheezballs" target="_blank" class="color-dark contact-item">
              <fa-icon [icon]="faGithub" class="fa-2x contact-item-icon"></fa-icon>
              <span class="contact-item-text">GitHub</span>
            </a>
          </li>
          <li>
            <a href="https://www.codewars.com/users/cheezballs" target="_blank" class="color-dark contact-item">
              <fa-icon [icon]="faCode" class="fa-2x contact-item-icon"></fa-icon>
              <span class="contact-item-text">Codewars</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>