<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <img class="border circle p-2 bg-white" src="../../assets/matt-headshot-bw.jpg">
    <h1 class="name">Matt Roberts</h1>
    <p class="lead">Full-stack developer, electronics enthusiest, and lover of all things metal.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-9 fade-text">
      About Me
    </div>    
    <div class="col-sm-3" id="contact">
      <span class="fade-text">Contact</span>
      <div>
        <a href="https://www.linkedin.com/in/matt-roberts-dev/" target="_blank" class="color-dark">
          <fa-icon [icon]="['fab', 'fa-linkedin']"></fa-icon>
          LinkedIn
        </a> 
      </div>     
    </div>
  </div>
</div>
